.comment-container {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    max-width: 416px;
    width: 90%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-top: -20vh;
}

.comment-header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.comment-avatar {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    object-fit: cover;
}

.comment-user-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.comment-review {
    display: flex;
    align-items: center;
    gap: 5px;
}

.comment-user-name {
    font-size: 15px;
    font-weight: 400;
    font-family: "Sofia Pro", sans-serif;
    color: #676869;
}

.comment-review-count {
    font-size: 11px;
    font-weight: 400;
    color: #828282;
}

.comment-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    word-wrap: break-word;
}

@media (min-width: 1025px) {

    .comment-container {
        position: absolute;
        top: 80vh;
        left: 20%;
        transform: translateX(-50%);
        margin: 0;
    }
}

@media (max-width: 1080px) {
    .comment-container {
        margin-top: 5vh;
        padding: 15px;
        width: 100%;
    }

    .comment-avatar {
        width: 35px;
        height: 35px;
    }

    .comment-user-name {
        font-size: 14px;
    }

    .comment-review-count {
        font-size: 10px;
    }

    .comment-body {
        font-size: 14px;
    }

    .comment-user-info {
        gap: 5px;
    }
}

@media (max-width: 768px) {
    .comment-container {
        margin-top: 10vh;
        padding: 12px;
        width: 85%;
    }

    .comment-avatar {
        width: 32px;
        height: 32px;
    }

    .comment-user-name {
        font-size: 13px;
    }

    .comment-review-count {
        font-size: 10px;
    }

    .comment-body {
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    .comment-container {
        margin-top: 5vh;
        width: 90%;
    }

    .comment-review{
        flex-wrap: wrap;
        max-width: 250px;
    }
}